# Ignoring temporary files (left by e.g. vim)
# Ignoring by common IDE's used directories/files
# Do not ignore .rej and .orig as we want to see/clean files after conflict resolution
#
# for local exclude patterns please edit .git/info/exclude
#
*~
*.bak
*.idea
*.project
*.swp
.buildpath
.cache
.project
.session
.settings
.TemporaryItems
.webprj
nbproject
