h3 {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 8px;
}

a {
	color: blue;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

p, div, body, input, select, textarea, .defstyle {
	color: black;
}

/* Safari hack, http://dustinbrewer.com/css-hackgetting-safari-to-behave/ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	form select {
		text-indent: 18px;
	}
}

#opennewwindow {
	text-decoration: none;
}

#opennewwindow:hover {
	background-color: white;
}

h1, h2, h3, h4 {
	background-color: transparent;
	color: black;
	text-align: left;
}

.access-key {
	text-decoration: underline;
}

/* Temporary bugfix for issue http://bugs.typo3.org/view.php?id=7631 */
body#typo3-mod-php {
	overflow: auto;
}

/* Now we have a somewhat sane setup. Let's style get to work styling. */

.progress-bar-wrap {
	height: 2em;
	margin-bottom: 1em;
	border: 1px solid black;
	background-color: white;
	width: 100%;
}

#progress-bar,
#transparent-bar  {
	border: 0;
	height: 100%;
}

#progress-bar {
	float: left;
}

#transparent-bar {
	float: left;
	background-color: grey;
}

.alltests {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.wasSuccessful {
	background-color: green;
}

.hadFailure {
	background-color: yellow;
}

.hadError {
	background-color: red;
}

.inCompleteTest {
	color: grey;
}

.message {
	margin: 0.5em;
	border: 1px solid #eeeeee;
	padding: 0.5em;
	margin-left: 0.2em;
	background-color: white;
}

.testcaseOutput,
.testcaseFailure,
.testcaseError {
	padding: .2em 0 .2em .3em;
	margin: 0.3em 0 0.3em 0;
	background-color: #f1fff1;
}

.testcaseOutput {
	border-left: 2px solid lightgreen;
}
.testcaseOutput img.runner {
	border: 1px solid transparent;
	vertical-align: middle;
	padding: 0 2px;
	border-radius: .2em;
}
.testcaseOutput img.runner:hover {
	background-image: url(/typo3conf/ext/phpunit/Resources/Public/Icons/RunnerRunning.gif);
	background-repeat: no-repeat;
	background-position: 2px 0;
	border-color: lightgreen;
}
.testcaseOutput.testcaseError img.runner:hover {
	border-color: #ff0000;
}
.testcaseOutput.testcaseFailure img.runner:hover {
	border-color: yellow;
}
.testcaseOutput pre.message {
	white-space: normal;
}
.testcaseFailure {
	border-left: 2px solid yellow;
	background-color: #fffec3;
}

.testcaseError {
	border-left: 2px solid red;
	background-color: #ffc3c3;
}

.testcaseNotImplemented {
	border-left: 2px solid #CCC;
	background-color: #EEE;
}

.testcaseSkipped {
	border-left: 2px solid #CCC;
	background-color: #EEE;
}

.tx_phpunit_testcase_progressbox {
	background-color: aqua;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	float: left;
}

#testsHaveFinished {
	display: none;
}

/*
 * Changes to general layout
 */
#doc3 {
	margin: 0;
	padding: 0;
}

html {
	background-color: #F8F8F8;
}

th, td {
	border: 0;
}

.testSuiteName {
	font-size: 13px;
}
.wasSuccessful {
	color: #3b7826;
	background-color: #cdeaca;
	border-color: #58b548;
}
.hadFailure {
	color: #9e7d4a;
	background-color: #fbf6de;
	border-color: #b1905c;
}
.hadError {
	color: #aa0225;
	background-color: #f6d3cf;
	border-color: #d66c68;
}
h2.wasSuccessful, h2.hadFailure, h2.hadError {
	padding: 2px 5px;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
}
#progress-bar.wasSuccessful {
	width:100%;
}